<li>
  <div class="row">
    <div class="col s12 m7">
      <div class="card large">
        <div class="card-image">
          <img src="{{ movie.Poster }}">
          <span class="card-title">{{ movie.Title }}</span>
        </div>
        <div class="card-content">
          <p>{{ movie.Year }}</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/{{movie.imdbID}}/">IMDB</a>
        </div>
      </div>
    </div>
  </div>
