{% extends 'genio/base.html' %}
{% block custom_head %}
<title>Find  a movie</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <h5>Search OMDB</h5>
    <div class="row">
    {% include "omdb/searchform.html" %}
    </div>
  </div>
  {% if results %}
    <div class="section">
      <h5>Search results</h5>
      <div class="row">
        <ul>
        {% for result in results %}
            {% include 'omdb/movie.html' with movie=result %}
        {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    {% if request.GET %}
      <div class="section">
        <div class="row center">
          <p class="text-flow">No results for this query from OMDB</p>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
{% block custom_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, []);
  });
    </script>
{% endblock %}
