<form class="col s10 offset-s1" method="get" action="/omdb">
  <div class="row">
    <div class="input-field col s10">
      {{ form.title.errors }}
      {{ form.title }}
      <label for="{{ form.title.id_for_label }}">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s5">
      {{ form.type.errors }}
      {{ form.type }}
      <label for="{{ form.type.id_for_label }}">Type</label>
    </div>
    <div class="input-field col s5">
      {{ form.year.errors }}
      {{ form.year }}
      <label for="{{ form.year.id_for_label }}">Year</label>
    </div>
  </div>
  <div class="row ">
    <button class="btn waves-effect waves-light" id="search-submit" type="submit"
      name="action">Search<i class="material-icons search">search</i>
    </button>
  </div>
</form>
