{% extends 'genio/base.html' %}
{% block custom_head %}
<title>Contact support</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <h5>Chat with support</h5>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input placeholder="Message" id="chat-message-input" type="text">
        <div class="row center">
          <button class="btn waves-effect waves-light" id="chat-message-submit" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <h5>Support chat log</h5>
    <div class="row">
      <div class="col s10 offset-s1">
        <ul id="chat-log"></ul>
      </div>
    </div>
  </div>
</div>
    {% block custom_js %}
    <script>
        window.chatSocket = window.chatSocket || new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const d = new Date();
            const time = d.toLocaleTimeString('it-IT');
            const ul = document.querySelector('#chat-log');
            const li = document.createElement("li");
            li.classList.add('truncate');
            const text = document.createTextNode(time + " - " + data.message);
            li.appendChild(text);
            ul.appendChild(li);
        };
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
    {% endblock %}
</body>
</html>
{% endblock %}
