{% extends 'genio/base.html' %}
{% block custom_head %}
<title>Stock market insights</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <h5>Find stocks</h5>
    <div class="row">
    {% include "alphavantage/symbol_searchform.html" %}
    </div>
  </div>
  {% if results %}
    <div class="section">
      <h5>Search results</h5>
      <div class="row">
        <ul>
        {% for result in results %}
            {% include 'alphavantage/symbol_ref.html' with symbol=result %}
        {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    {% if request.GET %}
      <div class="section">
        <div class="row center">
          <p class="text-flow">No results for this query from Alphavantage</p>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
