{% load custom_tags %}
<li>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{symbol|get_key:"2. name"}}</span>
          <p>{{symbol|get_key:"3. type"}} denominated in {{symbol|get_key:"8. currency"}}
        </div>
        <div class="card-action">
            <a href="{% url "symbol_detail" symbol=symbol|get_key:"1. symbol" %}">Details</a>
        </div>
      </div>
    </div>
  </div>
