{% extends 'genio/base.html' %}
{% block custom_head %}
<title>Stock market insights about {{symbol}}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
    <div class="col s10 offset-s1">
      <canvas id="intradayChart"></canvas> 
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{ data|json_script:"chart-data" }}
{{ labels|json_script:"chart-labels" }}
<script>
// chart setup
const chartLabels = JSON.parse(
  document.getElementById('chart-labels').textContent
);
const chartData = JSON.parse(
  document.getElementById('chart-data').textContent
);
const data = {
  labels: chartLabels,
  datasets: [{
    label: 'Intraday data for {{symbol}}',
    data: chartData,
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
  }]
};
//chart config
const config = {
  type: 'line',
  data: data,
};
// chart render
var intradayChart = new Chart(
  document.getElementById('intradayChart'),
  config
);
</script>
{% endblock %}
