<form class="col s10 offset-s1" method="get" action="/alphavantage">
  <div class="row">
    <div class="input-field col s8">
      {{ form.symbol.errors }}
      {{ form.symbol }}
      <label for="{{ form.symbol.id_for_label }}">symbol</label>
    </div>
    <div class="col s2">
      <button class="btn waves-effect waves-light" id="search-submit" type="submit"
        name="action">Search<i class="material-icons search">search</i>
      </button>
    </div>
  </div>
</form>
