<!DOCTYPE html>
<html lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/274/black-circle_26ab.png">
  {% block custom_head %}
  {% endblock %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="display: flex; min-height: 100vh; flex-direction: column;">
  <nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Demo site</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/alphavantage">Stock market insights</a></li>
        <li><a href="/omdb">Find a movie</a></li>
        <li><a href="/chat">Contact support</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/alphavantage">Stock market insights</a></li>
        <li><a href="/omdb">Find a movie</a></li>
        <li><a href="/chat">Contact support</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <header class="page-header"></header>
  <main style="flex: 1 0 auto;">
  {% block content %}
  {% endblock content %}
  </main>
  <footer class="page-footer blue-grey lighten-3">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-bold" href="https://bitbucket.org/r0pewalker/">Renato Biassoni</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- init mobile sidebar -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, []);
    });
  </script>
  {% block custom_js %}
  {% endblock %}
  </body>
</html>
