{% extends 'genio/base.html' %}
{% block custom_head %}
<title>Home page</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <div class="row center">
      <p class="text-flow"> Nothing useful here, check out menu links for the actual content. {% lorem %}</p>
    </div>
  </div>
</div>
{% endblock %}
